
a{
  background-color:red;
  width: 100px;
  height: 100px;
  display: inline-block;
} 

.navigasi{
  background-color: aqua;
}

.main{
  background-color: azure;
}

.main span {background-color: greenyellow;}